<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <nav>
        <a href="/Index.html">Home</a>
        <a href="/Views/Cart.html">Cart</a>
        <a href="/Views/Orders.html">Orders</a>
        <a href="/Views/Products.html">Products</a>
        <a href="/Views/User.html">User</a>
        <a href="/Views/UserRoles.html">UserRoles</a>
    </nav>
</body>
</html>